html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}

html div { height: 0; }
html>body div { height: auto; }

body { color: #333; font-family: Arial, Helevetica, sans-serif; font-size: 12px; }
ul { list-style: none; }
p { line-height: 2em; }
a { color: #336699; text-decoration: none; }
a:hover { color: black; }
sup { font-size: 10px; }

/* sifr */
.sifrheading { font-size: 22px; color: #4a7832; padding: 0px 0px 7px 0px; line-height: 28px; }
.sifrheading span { visibility: hidden; }
.sifrheading span.show { visibility: visible; }
.sifrheading embed { display: block; }
.sifrheading .alt { display: none; }

/* modal */

.modal, .jqmWindow { display: none; position: fixed; top: 17%; left: 50%; margin-left: -328px; width: 656px; background-color: #fff; color: #333; border: 1px solid #ccc; padding: 12px; z-index: 50001; }
.jqmOverlay { background-color: #fff; }
.jqmClose { position: absolute; right: 10px; top: 10px; }
.modal .modalcenters { text-align: center; }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */

* html .jqmWindow {
     position: absolute; top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px'); }

/* http://docs.jquery.com/UI/Tabs */
.ui-tabs .ui-tabs-hide, .ui-tabs-hide { visibility: hidden; position: absolute; left: -10000px; }

	.videoorb { padding: 7px 0 7px 34px; background: url(../images/videoorb.png) no-repeat left; font-weight: bold; }

/* Float Container */
.flc, .CB { clear: both; }
.flc:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

	/* IE6 work-around \*/
	* html .flc { height: 1%; }
	
	/* IE7 work-around */
	html > body .flc { height: auto; max-height: 12000000px; }

#master { margin: 0 auto; }
	.hiding { display: none; }
	.left, .centers { float: left; }
	.right { float: right; }

	/* global top-nav with image rollovers */
	#topnav { background: url(../images/pixel.jpg) repeat-x left 40px; margin: 25px auto 0 auto; width: 845px; position: relative; z-index: 5000; }
		#topnav .left { width: 65%; background: url(../images/dmlogo.png) no-repeat left top; }
		#topnav .right { width: 30%; text-align: right; }

		#topnav .clearlogo { padding: 0; }

		#topnav li a { display: block; width: 100%; height: 38px; background-image: url(../images/nav-rollovers.gif); background-repeat: no-repeat; text-indent: -3000em; outline: none; }
			#topnav li.home { width: 205px; height: 40px; margin: 0 20px 0 0; }
			#topnav li.home:hover { background: 0; }
			#topnav a#home { width: 100%; background: 0; height: 30px; }
			#topnav a#creators { background-position: right 10px; }
			#topnav li.sfHover a#creators, #topnav li:hover a#creators, #topnav li.selected a#creators { background-position: left 10px; }
				#topnav li.selected { background-image: url(../images/li_under.png); }
				#topnav a#overview { background-position: right -245px; }
				#topnav a#overview:hover { background-position: left -245px; }
				#topnav a#writers { background-position: right -295px; }
				#topnav a#writers:hover { background-position: left -295px; }
				#topnav a#filmmakers { background-position: right -345px; }
				#topnav a#filmmakers:hover { background-position: left -345px; }
				#topnav a#copyeditors { background-position: right -395px; }
				#topnav a#copyeditors:hover { background-position: left -395px; }
				#topnav a#pubover { background-position: right -245px; }
				#topnav a#pubover:hover { background-position: left -245px; }
				#topnav a#casestudies { background-position: right -545px; }
				#topnav a#casestudies:hover { background-position: left -545px; }
				#topnav a#talentexperts { background-position: right -595px; }
				#topnav a#talentexperts:hover { background-position: left -595px; }
			#topnav a#publishers { background-position: right -40px; }
			#topnav a#publishers:hover, #topnav li.selected a#publishers { background-position: left -40px; }
			#topnav a#about { background-position: right -90px; }
			#topnav a#about:hover, #topnav li.selected a#about { background-position: left -90px; }

		#topnav ul { clear: both; z-index: 500; }
			#topnav .right ul { float: right; }
		#topnav li { margin: 10px 0 0 0; float: left; position: relative; width: 100px; height: 38px; text-align: center; background: url(../images/li_hover.png) no-repeat center -3000em; }
			#topnav li ul { display: none; position: absolute; width: 510px; top: 37px; left: 0; padding: 0px 0 0 0; background-color: white; }
				#topnav li ul.twoitems { width: 200px; }
			#topnav li:hover, #topnav li.sfHover, #topnav li.selected { background-position: center bottom; z-index: 1000; }
			#topnav li.sfhover.home { background: 0; }
			#topnav li:hover ul, #topnav li.sfHover ul { display: block; }
			#topnav li li { margin: 0; height: 26px; background: none; }
			#topnav li li a { height: 18px; }

		#topnav .right li { width: auto; }
			#topnav a#loginbutton { background-position: -117px -140px; width: 65px; }
			#topnav a#loginbutton:hover { background-position: -17px -140px; }
			#topnav a#apply { background-position: -117px -190px; width: 65px; }
			#topnav a#apply:hover { background-position: -17px -190px; }

			#topnav a#Workdesk { background-position: right -440px; width: 100px; }
			#topnav a#Workdesk:hover { background-position: left -440px; }
			#topnav a#Logout { background-position: -109px -490px; width: 82px; }
			#topnav a#Logout:hover { background-position: -9px -490px; }

		#topnav #loginwindow { position: absolute; width: 225px; border: 1px solid #333; top: 40px; right: 0; z-index: 2000; background-color: white; display: none; }
			#topnav #loginwindow form { padding: 20px; }			
				#loginwindow dd { margin: 0 0 10px 0; }
					#loginwindow dd span { border: 1px solid blue; padding: 3px 0; }
					#loginwindow dd input { border: 1px solid #e8e8e8; background: white url(../images/input-shadow.gif) no-repeat left top; padding: 2px; width: 95%; }
				#loginwindow dt { font-size: 10px; margin: 0 0 10px 0;}
					#loginwindow dt.label { margin: 0; background-image: url(../images/login.png); background-repeat: no-repeat;}
						#loginwindow dt label { visibility: hidden; }
						#loginwindow dt.lbluser { background-position: left 2px; }
						#loginwindow dt.lblpassword { background-position: left -23px; }
						#loginwindow dt.whitebutton { margin: 0; }
							#loginwindow dt.whitebutton input { width: 100%; margin: 0; padding: 0; border: 0; background: 0; color: #336699; font-weight: bold; cursor: pointer; height: 32px; }

	#altnav { height: 36px; margin: -8px auto 0 auto; position: relative; width: 845px; }
	#altnav .addthis { position: absolute; top: 8px; right: 0; width: 130px; text-align: right; }
	#altnav p.breadcrumb { position: absolute; top: 0; left: 0; font-size: 10px; padding: 3px 0 0 0; }

	#mainbody { width: 845px; margin: 0 auto; } /* overwrite locally for different widths */

	/* global footer */
	#footer { margin: 25px auto; padding: 40px 0; border-top: 1px solid #e3e3e3; width: 845px; }
		#footer p { text-align: center; text-transform: uppercase; color: #666; margin-bottom: 1.3em; }
			#footer p.subfoot { font-size: 10px; color: #999; }
			#footer p.subfoot a { padding: 0 5px 0 0; color: #999; }
			#footer p.subfoot a:hover { padding: 0 5px 0 0; color: black; }
			#footer p.image { margin-bottom: .8em; }
		#footer a { padding: 0 9px; color: #666; }
		#footer a:hover { padding: 0 9px; color: black; }

		#footer #dmlogo { margin-bottom: 12px; }

/* global look and feel */

	.Heading1 { color: #336699; font-size: 30px; font-family: Arial; font-weight: normal; margin: 0px 0px 20px 0px; }
	.Heading1 sup { font-size: 10px; }

	.bullet_1 li { background: url(../images/bullet_1.png) no-repeat 0px 0px; padding: 0px 0px 10px 40px; height: auto !important; height: 40px; min-height: 25px; line-height: 25px; }

	.box_1 { position: relative; border: 1px solid #EDEDED; padding: 10px; background: #FFFFFF url(../images/gradient_1.gif) repeat-x bottom left; margin: 0px 0px 20px 0px; }
	.corner_top_left { display: block; width: 5px; height: 5px; background: url(../images/corners.gif) no-repeat 0px 0px; position: absolute; top: -1px; left: -1px; }
	.corner_top_right{ display: block; width: 5px; height: 5px; background: url(../images/corners.gif) no-repeat -5px 0px; position: absolute; top: -1px; right: -1px; }
	.corner_bottom_left { display: block; width: 5px; height: 5px; background: url(../images/corners.gif) no-repeat 0px -5px; position: absolute; bottom: -1px; left: -1px; }
	.corner_bottom_right { display: block; width: 5px; height: 5px; background: url(../images/corners.gif) no-repeat -5px -5px; position: absolute; bottom: -1px; right: -1px; }

	.videos ul { margin: 20px 0 0; list-style: none; }
		.videos li { margin: 20px 0; color: #666; }
			.videos ul li div span { padding-right: 10px; border-right: 1px solid #333; margin-right: 5px; color: #333; }
			.videos ul li .thumbnail { width: 94px; height: 68px; position: relative; float: left; margin-right: 20px; display: inline; }
				.videos ul li .thumbnail .overlay { width: 94px; height: 68px; z-index: 1; position: absolute; }
				.videos ul li .thumbnail .image { width: 94px; height: 68px; z-index: 0; position: absolute; }
			.videos ul li a { display: block; font-weight: bold; line-height: 1.5em; padding-top: 5px; /* :KLUDGE: added because not a link as of yet*/ cursor: inherit; }
				/* :KLUDGE: remove when it becomes a link */.videos ul li a:hover { text-decoration: none; color: #369; }

	.artwork { margin: 10px 0 20px; padding: 10px 0px; border: 1px solid #ccc; border-width: 1px 0px; color: #000; font-size: 12px; background-color: #fff; }
		.artwork ul { list-style: none; margin: 20px 0 0; }
		
	.artwork .logo { float: left; width: 48%; }
		.artwork .logo li { margin: 5px 0; }
		.artwork .logo .eps { padding-left: 25px; background-position: left bottom; }
		.artwork .logo .jpg { padding-left: 25px; background-position: left top; }
		.artwork .logo a { font-size: 11px; background-position: right top; }
	.artwork .pressPhotos { float: right; width: 50%; }
		.artwork .pressPhotos .vcard { margin: 20px 0; }
			.artwork .pressPhotos .vcard .photo { width: 55px; height: 55px; border: 2px solid #ecebe3; float: left; margin-right: 10px; }
			.artwork .pressPhotos .vcard .fn { font-weight: bold; color: #01194a; padding-bottom: 5px; }
			.artwork .pressPhotos .vcard a { font-size: 11px; display: block; padding: 5px 0 0 10px; background-position: right top; }

	.content_tabs ul.tab_container  { background: url(../images/pixel.gif) repeat-x 0px 28px; padding: 0px 0px 20px 0px; }
	.content_tabs li.tab, .content_tabs li.iehover { float: left; position: relative; height: 38px; padding: 0px 10px; margin: 0px 10px 0px 0px; text-align: center; background: url(../images/li_hover.png) no-repeat center -3000em; }
		.content_tabs li.tab ul { display: none; position: absolute; top: 28px; left: 0; padding: 9px 0 0 0; }
		.content_tabs li.tab:hover, .content_tabs li.iehover { background-position: center bottom; z-index: 5000; }
		.content_tabs li.ui-tabs-selected { background-position: center bottom; z-index: 5000; }
		.content_tabs li.ui-state-active { background-image: url(../images/li_under.png); background-position: center bottom; z-index: 5000; }

.whitebutton { cursor: pointer; border: none; text-align: center; padding: 0 0 0 8px; display: block; height: 32px; white-space: nowrap; margin: 3px; text-decoration: none; background: url(../images/white_buttons.png) no-repeat left 0px; color: #369 !important; }
.whitebutton span { font: bold 14px /32px Arial, Helvetica, sans-serif; padding: 0 8px 0 0; display: block; background: url(../images/white_buttons.png) no-repeat right -32px; }

.moneycounter { font-size: 16px; }
.moneycounter p { color: #999; }
.moneycounter p strong { color: #666; font-size: 22px; }
.millions { position: relative; margin: 0 0 0.5em; background: url(../images/millions.png) no-repeat left top; width: 246px; height: 40px; line-height: 40px; text-align: center; letter-spacing: 9.5px; font-weight: 900; font-size: 22px; }
.millions p { position: absolute; margin: 0; padding: 0; right: 0px; _right: 10px; *right: 10px; _letter-spacing: 9px; color: #fff; }

.clear { height: 1px; line-height: 1px; font-size: 1px; margin-bottom: -1px; clear: both; }

/* rounded rectangle 01 */

.round01 { }
	.round01 .structure { background-image: url(../images/boxes/round01.png); background-repeat: no-repeat; height: 7px; font-size: 0px; }
	.round01 .box_lt { background-position: left top; padding: 0 0 0 7px; }
	.round01 .box_rt { background-position: right top; }
	.round01 .box_rb { background-position: right bottom; }
	.round01 .box_lb { background-position: left bottom; padding: 0 0 0 7px; }
	.round01 .box_content { border-color: #dcdcdc; border-style: solid; border-width: 0 1px 0 1px; padding: 0 7px; }
	

	/* distro slider */
.slider { position: relative; }
.slider .boxinset { border: 1px solid #e3e3e3; height: 60px; }

.slider .arrowLeft,
.slider .arrowRight { display: block; background: url(../images/arrow_buttons.gif) no-repeat; width: 25px; height: 25px; margin: 17px 2px; position: absolute; }
.slider .arrowLeft { background-position: left -25px; left: 10px; }
.slider .arrowRight { background-position: left top; right: 10px; }

.slider .arrowLeft.hidden,
.slider .arrowRight.hidden { display: none; }

.slider .slide-master { margin: 5px 40px; overflow: hidden; position: relative; height: 50px; width: auto !important; width: 750px; }
.slider .slide-master ul { position: relative; width: 5000px; display: block; }
.slider .slide-master ul li { margin-right: 30px; border: none; padding: 0px; float: left; display: inline; background: url(../images/frontpage_distributoricons.gif) no-repeat; overflow: hidden; }
.slider .slide-master ul li.last { margin-right: 0px; }
.slider .slide-master ul li a { display: block; height: 50px; font-size: 1px; text-indent: -5000px; }
.slider .slide-master ul li.iconGolfLink { width: 88px; background-position: 0px 0px; }
.slider .slide-master ul li.iconEHow { width: 80px; background-position: 0px -50px; }
.slider .slide-master ul li.iconLiveStrong { width: 265px; background-position: 0px -100px; }
.slider .slide-master ul li.iconTrails { width: 102px; background-position: 0px -150px; }
.slider .slide-master ul li.iconYouTube { width: 95px; background-position: 0px -200px; }
.slider .slide-master ul li.iconCracked { width: 109px; background-position: 0px -250px; }
.slider .slide-master ul li.iconTravels { width: 101px; background-position: 0px -310px; }
.slider .slide-master ul li.iconAlanta { width: 150px; background-position: 0px -373px; }
.slider .slide-master ul li.iconUSAToday { width: 57px; margin-right: 50px; background-position: 0px -437px; }

/* fatbuttons */

.fatbutton { padding: 0 0 0 10px; }
.fatbutton:hover { text-decoration: none; }

.fatbutton,
.fatbutton .text { background: transparent url(../images/fatbutton_sprite.png) no-repeat left top; cursor: pointer; font-size: 17px; font-weight: bold; color: white; text-decoration: none; height: 45px; line-height: 42px; display: inline-block; }

.fatbutton,
.fatbutton .text { _display: inline; }

.fatbutton .text { padding: 0 30px 0 20px; border: 0; background-position: right bottom; vertical-align: middle; }

.fatbutton.disabled,
.fatbutton.disabled .text { cursor: not-allowed; }

/* blue */

.fatbutton.blue { background-position: left 0; }
.fatbutton.blue .text { background-position: right -45px; }

.fatbutton.blue:hover { background-position: left -90px; }
.fatbutton.blue:hover .text { background-position: right -135px; }

.fatbutton.blue.disabled { background-position: left -180px; }
.fatbutton.blue.disabled .text { background-position: right -225px; color: #eee; }
.fatbutton.blue.disabled:hover .text { color: #eee; }


/* white */

.fatbutton.white { background-position: left -270px; }
.fatbutton.white .text { background-position: right -315px; color: #369; }

.fatbutton.white:hover { background-position: left -360px; }
.fatbutton.white:hover .text { background-position: right -405px; }

.fatbutton.white.disabled { background-position: left -450px; }
.fatbutton.white.disabled .text { background-position: right -495px; color: #ccc; }
.fatbutton.white.disabled:hover .text { color: #ccc; }

