HTML {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
BODY {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
DIV {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
SPAN {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
APPLET {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
OBJECT {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
IFRAME {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
H1 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
H2 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
H3 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
H4 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
H5 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
H6 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
P {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
BLOCKQUOTE {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
PRE {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
A {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
ABBR {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
ACRONYM {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
ADDRESS {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
BIG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
CITE {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
CODE {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
DEL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
DFN {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
EM {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
FONT {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
INS {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
KBD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
Q {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
S {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
SAMP {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
SMALL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
STRIKE {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
SUB {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
SUP {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
TT {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
VAR {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
DL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
DT {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
DD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
OL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
UL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
LI {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
FIELDSET {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
FORM {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
LABEL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
LEGEND {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
TABLE {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
CAPTION {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
TBODY {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
TFOOT {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
THEAD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
TR {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
TH {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: inherit; outline: 0
}
HTML DIV {
	HEIGHT: 0px
}
HTML > BODY DIV {
	HEIGHT: auto
}
BODY {
	FONT-SIZE: 12px; COLOR: #333; FONT-FAMILY: Arial, Helevetica, sans-serif
}
UL {
	LIST-STYLE-TYPE: none
}
P {
	LINE-HEIGHT: 2em
}
A {
	COLOR: #336699; TEXT-DECORATION: none
}
A:hover {
	COLOR: black
}
SUP {
	FONT-SIZE: 10px
}
.sifrheading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 22px; PADDING-BOTTOM: 7px; COLOR: #4a7832; LINE-HEIGHT: 28px; PADDING-TOP: 0px
}
.sifrheading SPAN {
	VISIBILITY: hidden
}
.sifrheading SPAN.show {
	VISIBILITY: visible
}
.sifrheading EMBED {
	DISPLAY: block
}
.sifrheading .alt {
	DISPLAY: none
}
.modal {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #ccc 1px solid; DISPLAY: none; PADDING-LEFT: 12px; Z-INDEX: 50001; LEFT: 50%; PADDING-BOTTOM: 12px; MARGIN-LEFT: -328px; BORDER-LEFT: #ccc 1px solid; WIDTH: 656px; COLOR: #333; PADDING-TOP: 12px; BORDER-BOTTOM: #ccc 1px solid; POSITION: fixed; TOP: 17%; BACKGROUND-COLOR: #fff
}
.jqmWindow {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #ccc 1px solid; DISPLAY: none; PADDING-LEFT: 12px; Z-INDEX: 50001; LEFT: 50%; PADDING-BOTTOM: 12px; MARGIN-LEFT: -328px; BORDER-LEFT: #ccc 1px solid; WIDTH: 656px; COLOR: #333; PADDING-TOP: 12px; BORDER-BOTTOM: #ccc 1px solid; POSITION: fixed; TOP: 17%; BACKGROUND-COLOR: #fff
}
.jqmOverlay {
	BACKGROUND-COLOR: #fff
}
.jqmClose {
	RIGHT: 10px; POSITION: absolute; TOP: 10px
}
.modal .modalcenters {
	TEXT-ALIGN: center
}
* HTML .jqmWindow {
	POSITION: absolute; ; TOP: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px')
}
.ui-tabs .ui-tabs-hide {
	LEFT: -10000px; VISIBILITY: hidden; POSITION: absolute
}
.ui-tabs-hide {
	LEFT: -10000px; VISIBILITY: hidden; POSITION: absolute
}
.videoorb {
	PADDING-RIGHT: 0px; PADDING-LEFT: 34px; FONT-WEIGHT: bold; BACKGROUND: url(videoorb.png) no-repeat left 50%; PADDING-BOTTOM: 7px; PADDING-TOP: 7px
}
.flc {
	CLEAR: both
}
.CB {
	CLEAR: both
}
.flc:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
* HTML .flc {
	HEIGHT: 1%
}
HTML > BODY .flc {
	MAX-HEIGHT: 12000000px; HEIGHT: auto
}
#master {
	MARGIN: 0px auto
}
.hiding {
	DISPLAY: none
}
.left {
	FLOAT: left
}
.centers {
	FLOAT: left
}
.right {
	FLOAT: right
}
#topnav {
	Z-INDEX: 5000; BACKGROUND: url(pixel.gif) repeat-x left 40px; MARGIN: 25px auto 0px; WIDTH: 845px; POSITION: relative
}
#topnav .left {
	BACKGROUND: url(demand-studios_logo.png) no-repeat left top; WIDTH: 65%
}
#topnav .right {
	WIDTH: 30%; TEXT-ALIGN: right
}
#topnav .clearlogo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#topnav LI A {
	DISPLAY: block; BACKGROUND-IMAGE: url(nav-rollovers.gif); WIDTH: 100%; TEXT-INDENT: -3000em; BACKGROUND-REPEAT: no-repeat; HEIGHT: 38px; outline: none
}
#topnav LI.home {
	MARGIN: 0px 20px 0px 0px; WIDTH: 205px; HEIGHT: 40px
}
#topnav LI.home:hover {
	BACKGROUND: 0px 50%
}
#topnav A#home {
	BACKGROUND: 0px 50%; WIDTH: 100%; HEIGHT: 30px
}
#topnav A#creators {
	BACKGROUND-POSITION: right 10px
}
#topnav LI.sfHover A#creators {
	BACKGROUND-POSITION: left 10px
}
#topnav LI:hover A#creators {
	BACKGROUND-POSITION: left 10px
}
#topnav LI.selected A#creators {
	BACKGROUND-POSITION: left 10px
}
#topnav LI.selected {
	BACKGROUND-IMAGE: url(li_under.png)
}
#topnav A#overview {
	BACKGROUND-POSITION: right -245px
}
#topnav A#overview:hover {
	BACKGROUND-POSITION: left -245px
}
#topnav A#writers {
	BACKGROUND-POSITION: right -295px
}
#topnav A#writers:hover {
	BACKGROUND-POSITION: left -295px
}
#topnav A#filmmakers {
	BACKGROUND-POSITION: right -345px
}
#topnav A#filmmakers:hover {
	BACKGROUND-POSITION: left -345px
}
#topnav A#copyeditors {
	BACKGROUND-POSITION: right -395px
}
#topnav A#copyeditors:hover {
	BACKGROUND-POSITION: left -395px
}
#topnav A#pubover {
	BACKGROUND-POSITION: right -245px
}
#topnav A#pubover:hover {
	BACKGROUND-POSITION: left -245px
}
#topnav A#casestudies {
	BACKGROUND-POSITION: right -545px
}
#topnav A#casestudies:hover {
	BACKGROUND-POSITION: left -545px
}
#topnav A#talentexperts {
	BACKGROUND-POSITION: right -595px
}
#topnav A#talentexperts:hover {
	BACKGROUND-POSITION: left -595px
}
#topnav A#publishers {
	BACKGROUND-POSITION: right -40px
}
#topnav A#publishers:hover {
	BACKGROUND-POSITION: left -40px
}
#topnav LI.selected A#publishers {
	BACKGROUND-POSITION: left -40px
}
#topnav A#about {
	BACKGROUND-POSITION: right -90px
}
#topnav A#about:hover {
	BACKGROUND-POSITION: left -90px
}
#topnav LI.selected A#about {
	BACKGROUND-POSITION: left -90px
}
#topnav UL {
	CLEAR: both; Z-INDEX: 500
}
#topnav .right UL {
	FLOAT: right
}
#topnav LI {
	BACKGROUND: url(li_hover.png) no-repeat center -3000em; FLOAT: left; MARGIN: 10px 0px 0px; WIDTH: 100px; POSITION: relative; HEIGHT: 38px; TEXT-ALIGN: center
}
#topnav LI UL {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 510px; PADDING-TOP: 0px; POSITION: absolute; TOP: 37px; BACKGROUND-COLOR: white
}
#topnav LI UL.twoitems {
	WIDTH: 200px
}
#topnav LI:hover {
	BACKGROUND-POSITION: center bottom; Z-INDEX: 1000
}
#topnav LI.sfHover {
	BACKGROUND-POSITION: center bottom; Z-INDEX: 1000
}
#topnav LI.selected {
	BACKGROUND-POSITION: center bottom; Z-INDEX: 1000
}
#topnav LI.home {
	BACKGROUND: 0px 50%
}
#topnav LI:hover UL {
	DISPLAY: block
}
#topnav LI.sfHover UL {
	DISPLAY: block
}
#topnav LI LI {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px; HEIGHT: 26px
}
#topnav LI LI A {
	HEIGHT: 18px
}
#topnav .right LI {
	WIDTH: auto
}
#topnav A#loginbutton {
	BACKGROUND-POSITION: -117px -140px; WIDTH: 65px
}
#topnav A#loginbutton:hover {
	BACKGROUND-POSITION: -17px -140px
}
#topnav A#apply {
	BACKGROUND-POSITION: -117px -190px; WIDTH: 65px
}
#topnav A#apply:hover {
	BACKGROUND-POSITION: -17px -190px
}
#topnav A#Workdesk {
	BACKGROUND-POSITION: right -440px; WIDTH: 100px
}
#topnav A#Workdesk:hover {
	BACKGROUND-POSITION: left -440px
}
#topnav A#Logout {
	BACKGROUND-POSITION: -109px -490px; WIDTH: 82px
}
#topnav A#Logout:hover {
	BACKGROUND-POSITION: -9px -490px
}
#topnav #loginwindow {
	BORDER-RIGHT: #333 1px solid; BORDER-TOP: #333 1px solid; DISPLAY: none; Z-INDEX: 2000; RIGHT: 0px; BORDER-LEFT: #333 1px solid; WIDTH: 225px; BORDER-BOTTOM: #333 1px solid; POSITION: absolute; TOP: 40px; BACKGROUND-COLOR: white
}
#topnav #loginwindow FORM {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
#loginwindow DD {
	MARGIN: 0px 0px 10px
}
#loginwindow DD SPAN {
	BORDER-RIGHT: blue 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: blue 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: blue 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: blue 1px solid
}
#loginwindow DD INPUT {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #e8e8e8 1px solid; PADDING-LEFT: 2px; BACKGROUND: url(input-shadow.gif) white no-repeat left top; PADDING-BOTTOM: 2px; BORDER-LEFT: #e8e8e8 1px solid; WIDTH: 95%; PADDING-TOP: 2px; BORDER-BOTTOM: #e8e8e8 1px solid
}
#loginwindow DT {
	FONT-SIZE: 10px; MARGIN: 0px 0px 10px
}
#loginwindow DT.label {
	BACKGROUND-IMAGE: url(login.png); MARGIN: 0px; BACKGROUND-REPEAT: no-repeat
}
#loginwindow DT LABEL {
	VISIBILITY: hidden
}
#loginwindow DT.lbluser {
	BACKGROUND-POSITION: left 2px
}
#loginwindow DT.lblpassword {
	BACKGROUND-POSITION: left -23px
}
#loginwindow DT.whitebutton {
	MARGIN: 0px
}
#loginwindow DT.whitebutton INPUT {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: 0px 50%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: 100%; CURSOR: pointer; COLOR: #336699; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 32px
}
#altnav {
	MARGIN: -8px auto 0px; WIDTH: 845px; POSITION: relative; HEIGHT: 36px
}
#altnav .addthis {
	RIGHT: 0px; WIDTH: 130px; POSITION: absolute; TOP: 8px; TEXT-ALIGN: right
}
#altnav P.breadcrumb {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; POSITION: absolute; TOP: 0px
}
#mainbody {
	MARGIN: 0px auto; WIDTH: 845px
}
#footer {
	PADDING-RIGHT: 0px; BORDER-TOP: #e3e3e3 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 40px; MARGIN: 25px auto; WIDTH: 845px; PADDING-TOP: 40px
}
#footer P {
	MARGIN-BOTTOM: 1.3em; TEXT-TRANSFORM: uppercase; COLOR: #666; TEXT-ALIGN: center
}
#footer P.subfoot {
	FONT-SIZE: 10px; COLOR: #999
}
#footer P.subfoot A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #999; PADDING-TOP: 0px
}
#footer P.subfoot A:hover {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: black; PADDING-TOP: 0px
}
#footer P.image {
	MARGIN-BOTTOM: 0.8em
}
#footer A {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; PADDING-BOTTOM: 0px; COLOR: #666; PADDING-TOP: 0px
}
#footer A:hover {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; PADDING-BOTTOM: 0px; COLOR: black; PADDING-TOP: 0px
}
#footer #dmlogo {
	MARGIN-BOTTOM: 12px
}
.Heading1 {
	FONT-WEIGHT: normal; FONT-SIZE: 30px; MARGIN: 0px 0px 20px; COLOR: #336699; FONT-FAMILY: Arial
}
.Heading1 SUP {
	FONT-SIZE: 10px
}
.bullet_1 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 40px; MIN-HEIGHT: 25px; BACKGROUND: url(bullet_1.png) no-repeat 0px 0px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 25px; PADDING-TOP: 0px; HEIGHT: 40px
}
.box_1 {
	BORDER-RIGHT: #ededed 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ededed 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(gradient_1.gif) #ffffff repeat-x left bottom; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 20px; BORDER-LEFT: #ededed 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #ededed 1px solid; POSITION: relative
}
.corner_top_left {
	DISPLAY: block; BACKGROUND: url(corners.gif) no-repeat 0px 0px; LEFT: -1px; WIDTH: 5px; POSITION: absolute; TOP: -1px; HEIGHT: 5px
}
.corner_top_right {
	DISPLAY: block; RIGHT: -1px; BACKGROUND: url(corners.gif) no-repeat -5px 0px; WIDTH: 5px; POSITION: absolute; TOP: -1px; HEIGHT: 5px
}
.corner_bottom_left {
	DISPLAY: block; BACKGROUND: url(corners.gif) no-repeat 0px -5px; LEFT: -1px; WIDTH: 5px; BOTTOM: -1px; POSITION: absolute; HEIGHT: 5px
}
.corner_bottom_right {
	DISPLAY: block; RIGHT: -1px; BACKGROUND: url(corners.gif) no-repeat -5px -5px; WIDTH: 5px; BOTTOM: -1px; POSITION: absolute; HEIGHT: 5px
}
.videos UL {
	MARGIN: 20px 0px 0px; LIST-STYLE-TYPE: none
}
.videos LI {
	MARGIN: 20px 0px; COLOR: #666
}
.videos UL LI DIV SPAN {
	BORDER-RIGHT: #333 1px solid; PADDING-RIGHT: 10px; COLOR: #333; MARGIN-RIGHT: 5px
}
.videos UL LI .thumbnail {
	DISPLAY: inline; FLOAT: left; WIDTH: 94px; MARGIN-RIGHT: 20px; POSITION: relative; HEIGHT: 68px
}
.videos UL LI .thumbnail .overlay {
	Z-INDEX: 1; WIDTH: 94px; POSITION: absolute; HEIGHT: 68px
}
.videos UL LI .thumbnail .image {
	WIDTH: 94px; POSITION: absolute; HEIGHT: 68px
}
.videos UL LI A {
	DISPLAY: block; FONT-WEIGHT: bold; LINE-HEIGHT: 1.5em; PADDING-TOP: 5px
}
.videos UL LI A:hover {
	COLOR: #369; TEXT-DECORATION: none
}
.artwork {
	BORDER-RIGHT: #ccc 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 20px; BORDER-LEFT: #ccc 0px solid; COLOR: #000; PADDING-TOP: 10px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #fff
}
.artwork UL {
	MARGIN: 20px 0px 0px; LIST-STYLE-TYPE: none
}
.artwork .logo {
	FLOAT: left; WIDTH: 48%
}
.artwork .logo LI {
	MARGIN: 5px 0px
}
.artwork .logo .eps {
	BACKGROUND-POSITION: left bottom; PADDING-LEFT: 25px
}
.artwork .logo .jpg {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 25px
}
.artwork .logo A {
	BACKGROUND-POSITION: right top; FONT-SIZE: 11px
}
.artwork .pressPhotos {
	FLOAT: right; WIDTH: 50%
}
.artwork .pressPhotos .vcard {
	MARGIN: 20px 0px
}
.artwork .pressPhotos .vcard .photo {
	BORDER-RIGHT: #ecebe3 2px solid; BORDER-TOP: #ecebe3 2px solid; FLOAT: left; BORDER-LEFT: #ecebe3 2px solid; WIDTH: 55px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #ecebe3 2px solid; HEIGHT: 55px
}
.artwork .pressPhotos .vcard .fn {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; COLOR: #01194a
}
.artwork .pressPhotos .vcard A {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: right top; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.content_tabs UL.tab_container {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(pixel.gif) repeat-x 0px 28px; PADDING-BOTTOM: 20px; PADDING-TOP: 0px
}
.content_tabs LI.tab {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(li_hover.png) no-repeat center -3000em; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 0px 0px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 38px; TEXT-ALIGN: center
}
.content_tabs LI.iehover {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(li_hover.png) no-repeat center -3000em; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 0px 0px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 38px; TEXT-ALIGN: center
}
.content_tabs LI.tab UL {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 9px; POSITION: absolute; TOP: 28px
}
.content_tabs LI.tab:hover {
	BACKGROUND-POSITION: center bottom; Z-INDEX: 5000
}
.content_tabs LI.iehover {
	BACKGROUND-POSITION: center bottom; Z-INDEX: 5000
}
.content_tabs LI.ui-tabs-selected {
	BACKGROUND-POSITION: center bottom; Z-INDEX: 5000
}
.content_tabs LI.ui-state-active {
	BACKGROUND-POSITION: center bottom; Z-INDEX: 5000; BACKGROUND-IMAGE: url(li_under.png)
}
.whitebutton {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; DISPLAY: block; PADDING-LEFT: 8px; BACKGROUND: url(white_buttons.png) no-repeat left 0px; PADDING-BOTTOM: 0px; MARGIN: 3px; BORDER-LEFT: medium none; CURSOR: pointer; COLOR: #369! important; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; WHITE-SPACE: nowrap; HEIGHT: 32px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.whitebutton SPAN {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(white_buttons.png) no-repeat right -32px; PADDING-BOTTOM: 0px; FONT: bold 14px/32px Arial, Helvetica, sans-serif; PADDING-TOP: 0px
}
.moneycounter {
	FONT-SIZE: 16px
}
.moneycounter P {
	COLOR: #999
}
.moneycounter P STRONG {
	FONT-SIZE: 22px; COLOR: #666
}
.millions {
	FONT-WEIGHT: 900; FONT-SIZE: 22px; BACKGROUND: url(millions.png) no-repeat left top; MARGIN: 0px 0px 0.5em; WIDTH: 246px; LINE-HEIGHT: 40px; LETTER-SPACING: 9px; POSITION: relative; HEIGHT: 40px; TEXT-ALIGN: center
}
.millions P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; RIGHT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 0px; LETTER-SPACING: 9px; POSITION: absolute
}
.clear {
	CLEAR: both; FONT-SIZE: 1px; MARGIN-BOTTOM: -1px; LINE-HEIGHT: 1px; HEIGHT: 1px
}
.round01 {
	
}
.round01 .structure {
	FONT-SIZE: 0px; BACKGROUND-IMAGE: url(round01.png); BACKGROUND-REPEAT: no-repeat; HEIGHT: 7px
}
.round01 .box_lt {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.round01 .box_rt {
	BACKGROUND-POSITION: right top
}
.round01 .box_rb {
	BACKGROUND-POSITION: right bottom
}
.round01 .box_lb {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left bottom; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.round01 .box_content {
	BORDER-RIGHT: #dcdcdc 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #dcdcdc 0px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; BORDER-LEFT: #dcdcdc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #dcdcdc 0px solid
}
.slider {
	POSITION: relative
}
.slider .boxinset {
	BORDER-RIGHT: #e3e3e3 1px solid; BORDER-TOP: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; BORDER-BOTTOM: #e3e3e3 1px solid; HEIGHT: 60px
}
.slider .arrowLeft {
	DISPLAY: block; BACKGROUND: url(arrow_buttons.gif) no-repeat; MARGIN: 17px 2px; WIDTH: 25px; POSITION: absolute; HEIGHT: 25px
}
.slider .arrowRight {
	DISPLAY: block; BACKGROUND: url(arrow_buttons.gif) no-repeat; MARGIN: 17px 2px; WIDTH: 25px; POSITION: absolute; HEIGHT: 25px
}
.slider .arrowLeft {
	BACKGROUND-POSITION: left -25px; LEFT: 10px
}
.slider .arrowRight {
	BACKGROUND-POSITION: left top; RIGHT: 10px
}
.slider .hidden {
	DISPLAY: none
}
.slider .hidden {
	DISPLAY: none
}
.slider .slide-master {
	MARGIN: 5px 40px; OVERFLOW: hidden; WIDTH: 750px; POSITION: relative; HEIGHT: 50px
}
.slider .slide-master UL {
	DISPLAY: block; WIDTH: 5000px; POSITION: relative
}
.slider .slide-master UL LI {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; DISPLAY: inline; PADDING-LEFT: 0px; BACKGROUND: url(frontpage_distributoricons.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: medium none; MARGIN-RIGHT: 30px; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
.slider .slide-master UL LI.last {
	MARGIN-RIGHT: 0px
}
.slider .slide-master UL LI A {
	DISPLAY: block; FONT-SIZE: 1px; TEXT-INDENT: -5000px; HEIGHT: 50px
}
.slider .slide-master UL LI.iconGolfLink {
	BACKGROUND-POSITION: 0px 0px; WIDTH: 88px
}
.slider .slide-master UL LI.iconEHow {
	BACKGROUND-POSITION: 0px -50px; WIDTH: 80px
}
.slider .slide-master UL LI.iconLiveStrong {
	BACKGROUND-POSITION: 0px -100px; WIDTH: 265px
}
.slider .slide-master UL LI.iconTrails {
	BACKGROUND-POSITION: 0px -150px; WIDTH: 102px
}
.slider .slide-master UL LI.iconYouTube {
	BACKGROUND-POSITION: 0px -200px; WIDTH: 95px
}
.slider .slide-master UL LI.iconCracked {
	BACKGROUND-POSITION: 0px -250px; WIDTH: 109px
}
.slider .slide-master UL LI.iconTravels {
	BACKGROUND-POSITION: 0px -310px; WIDTH: 101px
}
.slider .slide-master UL LI.iconAlanta {
	BACKGROUND-POSITION: 0px -373px; WIDTH: 150px
}
.slider .slide-master UL LI.iconUSAToday {
	BACKGROUND-POSITION: 0px -437px; WIDTH: 57px; MARGIN-RIGHT: 50px
}
.fatbutton {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.fatbutton:hover {
	TEXT-DECORATION: none
}
.fatbutton {
	DISPLAY: inline-block; FONT-WEIGHT: bold; FONT-SIZE: 17px; BACKGROUND: url(fatbutton_sprite.png) no-repeat left top; CURSOR: pointer; COLOR: white; LINE-HEIGHT: 42px; HEIGHT: 45px; TEXT-DECORATION: none
}

.fatbutton {
	DISPLAY: inline
}
.fatbutton .text {
	DISPLAY: inline
}
.fatbutton .text {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 30px; BACKGROUND-POSITION: right bottom; BORDER-TOP: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.disabled {
	CURSOR: not-allowed
}
.disabled .text {
	CURSOR: not-allowed
}
.blue {
	BACKGROUND-POSITION: left 0px
}
.blue .text {
	BACKGROUND-POSITION: right -45px
}
.blue:hover {
	BACKGROUND-POSITION: left -90px
}
.blue:hover .text {
	BACKGROUND-POSITION: right -135px
}
.disabled {
	BACKGROUND-POSITION: left -180px
}
.disabled .text {
	BACKGROUND-POSITION: right -225px; COLOR: #eee
}
.disabled:hover .text {
	COLOR: #eee
}
.white {
	BACKGROUND-POSITION: left -270px
}
.white .text {
	BACKGROUND-POSITION: right -315px; COLOR: #369
}
.white:hover {
	BACKGROUND-POSITION: left -360px
}
.white:hover .text {
	BACKGROUND-POSITION: right -405px
}
.disabled {
	BACKGROUND-POSITION: left -450px
}
.disabled .text {
	BACKGROUND-POSITION: right -495px; COLOR: #ccc
}
.disabled:hover .text {
	COLOR: #ccc
}
.bg_left{ float:left  !important; background:url(left.jpg) no-repeat !important; width:7px !important; height:26px !important;}
.bg_right{ float:left  !important; background:url(right.jpg) no-repeat  !important;  width:7px !important; height:26px !important;}
.bg_center{ text-align:center!important; width:75px !important; float:left  !important; background:url(center.jpg)  repeat-x  !important; height:26px !important; padding-right:14px !important; padding-top:3px !important;}
.buttons a{ font-size:13px  !important; font-weight:bold  !important;}
.v2button{background:url(../images/center.jpg)  repeat-x  !important; height:26px !important; margin-right:5px !important; padding-bottom:5px !important; margin-top:8px !important; text-align:center!important;}
.v2button .text{ background:none !important; padding-bottom:7px !important; text-align:center !important;}
.boxinset .slide-master {
-moz-border-radius:10px 10px 10px 10px;
border:none !important;
padding:0 34px 5px;
}


