/* work-desk
--------------------------------------------------------------------------------------------------- */

#find {  }
			#find em { font-style: italic; }

			#find a.expand,
			#find a.collapse { font-weight: normal; font-size: 11px; padding: 0 0 0 12px; background-image: url(http://cdn-www.demandstudios.com//ui/images/symbols/v2/plus-minus.gif?v=faa73ba59b); background-repeat: no-repeat; margin: 0 0 0 8px; }

			#find .collapsed a.collapse,
			#find a.expand, 
			#find .collapsed .collapsible { display: none; }

			#find .collapsed a.expand { display: inline; }

			#find a.expand { background-position: left 2px; }
			#find a.collapse { background-position: left -88px; }

			#find #interface-master { }
				#find #interface-master #massiveload,
				#find #interface-master.loading #interface { display: none; }

				#find #interface-master.loading #massiveload { display: block; }

				#find #interface-master #massiveload { width: 50%; margin: 20px auto; }
				#find #interface-master #massiveload p { padding: 10px; border: 1px solid #ccc; text-align: center; }
				#find #interface-master #massiveload img { margin: 0 10px 0 0; }

			#find #findtop { position: relative; }
				#find #findtop #top-master { padding: 10px 0; }
				#find #findtop h1.Heading1 { margin: 0 0 0 5px; }
				#find #claimedcount { position: absolute; top: 0; right: 0; border: 1px solid #ccc; padding: 4px 10px; }
					#find #claimedcount p { margin: 0; color: #333; font-weight: bold; }
					#find #claimedcount span { color: #267bb2; font-weight: normal; }
					#find #claimedcount span#twocounts { margin: 0 7px 0 0; }

			#find .centers { text-align: center; }

			#find .v2button .text { padding: 0 20px 0 10px; }

			#find #keywordmaster { padding: 3px 20px; margin: 13px 0 15px 0; background-color: #efefef; }
				#find #keywordmaster #keywords { width: 767px; font-size: 18px; padding: 7px 5px; }
				#find input.subtle { color:#333; }
				#find #keywordmaster #search { margin: 0 0 7px 3px; }
				#find #keywordmaster #search .text { padding: 0 30px 0 20px; }

			#find .column-master.kayak { }		
				#find .column-master.kayak .left { width: 30%; float: left; }		
				#find .column-master.kayak .right { width: 68%; float: right; }

			#find .column-master.singleline { }
				#find .column-master.singleline .left { width: 49%; float: left; }
				#find .column-master.singleline .right { width: 49%; float: right; }

			#find #savecontrols { padding: 8px 8px 3px 8px; border-bottom: 1px solid #e0e0e0; }
				#find #savecontrols ul { list-style: none; }
				#find #savecontrols li { margin: 0 0 .5em 0; }

				#find #savecontrols a.saveaction { font-size: 14px; font-weight: bold; padding: 0 0 0 22px; background-image: url(http://cdn-www.demandstudios.com//ui/images/findassignments/savesearch_icons.png); background-repeat: no-repeat; }
				#find #savecontrols a#savethis.saveaction { background-position: left top; }

			#find #savelist { padding: 8px 8px 8px 8px; background-color: #eaf2f9; border-top: 3px solid #e5ecf2; border-bottom: 1px solid #e0e0e0; }
				#find #savelist h4 { font-size: 14px; font-weight: bold; padding: 0 0 0 22px; background: transparent url(http://cdn-www.demandstudios.com//ui/images/findassignments/savesearch_icons.png) no-repeat left -500px; }
				#find #savelist p { margin: 0; }

				#find #savelist #savedsearches { padding: 5px 0 0 0; }
					#find #savelist #savedsearches  p.emptymessage { display: none; }
					#find #savelist #savedsearches.empty p.emptymessage { display: block; }

					#find #savelist .search-entry { font-size: 11px; padding: 3px 0 3px 0; border-bottom: 1px dotted #cdcdcd; background-color: #eaf2f9; }
					#find #savelist .search-entry:hover { background-color: white; }
					#find #savelist .search-entry:last-child { border-bottom: 0; }
					#find #savelist .search-entry.hide { display: none; }

						#find #savelist .search-entry .column-master.buttonnudge {  }
							#find #savelist .search-entry .column-master.buttonnudge .left { float: left; width: 235px; }
							#find #savelist .search-entry .column-master.buttonnudge .right { float: right; width: 16px; }


					#find #savelist a.deletesearch { visibility: hidden; text-indent: -3000em; display: block; width: 13px; height: 13px; background: transparent url(http://cdn-www.demandstudios.com//ui/images/findassignments/delete_icon.png?v=faa73ba59b) no-repeat left top; }
					#find #savelist .search-entry:hover a.deletesearch { visibility: visible; }

				#find #savelist #emailcontrols { margin: 7px 0 0 0; padding: 7px 0 0 0; border-top: 1px solid #ccd4db; }
					#find #savelist #emailcontrols #togglemaster { font-size: 11px; }				
						#find #savelist #emailcontrols #togglemaster img { vertical-align: middle; }				
						#find #savelist #emailcontrols #togglemaster span { color: white; font-weight: bold; padding: 0 3px; margin: 0 3px 0 0; }
						#find #savelist #emailcontrols #togglemaster span.off { background-color: #9fa4a9; }			
						#find #savelist #emailcontrols #togglemaster span.on { background-color: #33993d; }

						#find #savelist #emailcontrols #togglemaster .loading,
						#find #savelist #emailcontrols #togglemaster .on, 
						#find #savelist #emailcontrols #togglemaster .off { display: none; }

						#find #savelist #emailcontrols #togglemaster.loading span.loading,		
						#find #savelist #emailcontrols #togglemaster.enabled span.on,		
						#find #savelist #emailcontrols #togglemaster.enabled a.off,			
						#find #savelist #emailcontrols #togglemaster.disabled span.off,		
						#find #savelist #emailcontrols #togglemaster.disabled a.on { display: inline; }		
	

			#find #filterwrap { padding: 0 0 15px 0; background-color: #f6f6f6; border: 1px solid #e6e6e6; border-radius: 5px; -moz-border-radius: 5px; font-size: 10px; -moz-box-shadow: 0 0 5px #efefef; box-shadow: 0 0 5px #efefef; }
			#find #filtermaster { position: relative; background-color: white; padding: 8px; font-size: 10px; border-bottom: 1px solid #e3e1e1; }
			
				#find #filtermaster .filtercontrols { position: absolute; top: 7px; right: 10px; text-align: right; }
				#find #filtermaster .filtercontrols p { margin: 0; }

				#find #filtermaster .filtergroup  { padding: 0 0 7px 0; margin: 7px 0 0 0; border-top: 1px solid #ccc; }
				#find #filtermaster .filtergroup:first-child { border: 0; }

				#find #filtermaster .filtergroup h3 { font-size: 12px; color: black; font-weight: bold; margin: .5em; }
				#find #filtermaster .filtergroup ul { list-style: none; }
				#find #filtermaster .filtergroup ul ul { margin: 3px 0 3px 1.5em; }
				#find #filtermaster .filtergroup li { margin: 0 0 2px 0; }
	
				#find #filtermaster .filtergroup label { font-size: 11px; }

			#find #alertmaster { }
				#find #alertmaster .findalert { display: none; }

				#find #alertmaster.bio #bio.findalert,
				#find #alertmaster.contributorsagreement #contributorsagreement.findalert,
				#find #alertmaster.w9 #w9.findalert { display: block; }

			#find #resultmaster { }
				#find #resultmaster .pane { display: none; }

				#find #resultmaster.loading #loading.pane,
				#find #resultmaster.error #error.pane,
				#find #resultmaster.results #results.pane { display: block; }

				#find #resultmaster #results.pane .singleline { border-bottom: 1px solid #d6d6d6; padding: 0 0 7px 0; }
					#find #resultmaster #results.pane .singleline label { margin: 0 3px 0 0; }			

				#find #resultmaster #resulttitle { font-size: 20px; font-weight: bold; color: #333; }
					#find #resultmaster #resulttitle span#counts { font-weight: normal; }
					#find #resultmaster #resulttitle em { color: red; font-size: .8em; }

				#find #resultmaster .pagemaster { padding: 3px 0 0 15px; }
					#find #resultmaster .pagemaster .hide { visibility: hidden; }
					#find #resultmaster .pagemaster span.sorter { padding: 0 15px 0 0; }
					#find #resultmaster .pagemaster p { text-align: right; margin: 0; padding: 0 0 3px 0; }

					#find #resultmaster .pagemaster a { padding: 2px 7px; border: 1px solid #ccc;  }

					#find #resultmaster .pagemaster a,
					#find #resultmaster .pagemaster.start a.prev,
					#find #resultmaster .pagemaster.start a.first,
					#find #resultmaster .pagemaster.end a.next { visibility: hidden; }

					#find #resultmaster .pagemaster.start a.next,
					#find #resultmaster .pagemaster.middle a.prev,
					#find #resultmaster .pagemaster.middle a.first,
					#find #resultmaster .pagemaster.end a.prev,
					#find #resultmaster .pagemaster.end a.first,
					#find #resultmaster .pagemaster.middle a.next { visibility: visible; }

				#find #resultmaster #error.pane { color: red; }

				#find #resultmaster #subresultsnav { padding: 7px 0 0 0; border-top: 1px solid #D6D6D6; }


				#find #slotmaster { margin: 0 0 5px 0; padding: 5px 0 0 0; border-width: 0 0 1px 0; border-style: dotted; border-color: #cecece; }
				#find #slotmaster .resultslot { }

					#find #slotmaster .resultslot:hover { background-color: #edf5fc; }

					#find #slotmaster .resultslot p.message { font-size: 11px; margin: 0; }
					#find #slotmaster .resultslot h3.title { font-size: 16px; font-weight: bold; color: #267bb2; margin-bottom: 7px; }
					#find #slotmaster .resultslot h4.specifics { font-size: 11px; color: #999; margin: 0 0 4px 0; }

					#find #slotmaster .resultslot h4.confirm { color: #009900; font-weight: bold; padding: 0 0 0 20px; background: transparent url(http://cdn-www.demandstudios.com//ui/images/symbols/v2/greencheckmark_trans.png?v=faa73ba59b) no-repeat left center; }
					#find #slotmaster .resultslot .actions { float: right; text-align: right; font-size: 12px; }

					#find #slotmaster .resultslot .subtle { margin: 0 5px 0 0; }
					#find #slotmaster .resultslot .details { width: 68%; float: left; }

					#find #slotmaster .resultslot .mode { padding: 8px 4px 4px 8px; display: none; min-height: 50px; border-width: 1px 0 0 0; border-style: dotted; border-color: #cecece; }

					#find #slotmaster .resultslot .loadingimage { padding: 4px 4px 0 0; }

					#find #slotmaster .resultslot .actionbutton { display: inline-block; width: 32px; height: 35px; line-height: 34px; vertical-align: middle; background-color: transparent; background-image: url(http://cdn-www.demandstudios.com//ui/images/Writer/actionbuttons.png?v=faa73ba59b); background-repeat: no-repeat; }
					#find #slotmaster .resultslot .actionbutton span { display: none; }
					#find #slotmaster .resultslot .actionbutton.flag { background-position: right top; }
					#find #slotmaster .resultslot .actionbutton.flag:hover { background-position: right bottom; }
					#find #slotmaster .resultslot .actionbutton.hide { background-position: left top; }
					#find #slotmaster .resultslot .actionbutton.hide:hover { background-position: left bottom; }

					#find #slotmaster .resultslot.error .error.mode,
					#find #slotmaster .resultslot.loading .loading.mode,
					#find #slotmaster .resultslot.claimed .claimed.mode,
					#find #slotmaster .resultslot.flagged .flagged.mode,
					#find #slotmaster .resultslot.hided .hided.mode,
					#find #slotmaster .resultslot.plain .plain.mode { display: block; }

					#find #slotmaster .resultslot .error.mode { background-color: #ffe4e4; }
						#find #slotmaster .resultslot .error.mode h3.title { color: #b47474; }
					#find #slotmaster .resultslot .disabled.mode { background-color: #f9f9f9; }
						#find #slotmaster .resultslot .disabled.mode h3.title { color: #e0e0e0; }
					#find #slotmaster .resultslot .flagged.mode { background-color: #feedc4; }
						#find #slotmaster .resultslot .flagged.mode h3.title { color: #a78e51; }
					#find #slotmaster .resultslot .claimed.mode { background-color: #fefae8; }
						#find #slotmaster .resultslot .claimed.mode h3.title { color: #938857; }
					#find #slotmaster .resultslot .hided.mode { background-color: #fdeaff; }
						#find #slotmaster .resultslot .hided.mode h3.title { color: #b480ba; }

					#find #slotmaster .resultslot .plain.mode { cursor: pointer; }
					#find #slotmaster .resultslot .plain.mode:hover a.claim,
					#find #slotmaster .resultslot .plain.mode .actions:hover a.claim:hover { background-position: left -210px; }
					#find #slotmaster .resultslot .plain.mode:hover a.claim .text,
					#find #slotmaster .resultslot .plain.mode .actions:hover a.claim:hover .text { background-position: right -245px; color: white; }

					#find #slotmaster .resultslot .plain.mode .actions:hover a.claim { background-position: left -140px; }
					#find #slotmaster .resultslot .plain.mode .actions:hover a.claim .text { background-position: right -175px; color: white; }				

					#find #slotmaster .action.flag { display: none; }
					#find #slotmaster.canflag .action.flag { display: inline-block; }

			.flagReasonsContainer.jqmWindow { padding: 10px 32px 10px 10px; font-weight: 900; width: 655px; background-color: #fff; border: 3px solid #369; margin-left: 143px; }
			.flagReasonsContainer.jqmWindow { max-height: 75%; overflow: auto; }
				.flagReasonsContainer .box { width: 625px; margin: 0 0 0 10px; }
			.flagReasonsContainer .box .reasons .heading {  margin:0; text-align: left; font-size: 20px; }
			.flagReasonsContainer .box .reasons .reasonsContainer .reasons { float: left; }
			.flagReasonsContainer .box .reasons .reasonsContainer .comments { float: left;}
			.flagReasonsContainer .reasonsSubmit { clear: both; width: 425px; padding: 10px; margin: 0 auto; }
			.flagReasonsContainer .reasonsSubmit a { display: block; }
			.flagReasonsContainer .Button1a { float: right; width: 100px; }
			.flagReasonsContainer .flagCancel { float: left; width: 100px; }
			
			.flagTitle { color: #c00; }
			.title { font-size: 14px; }

				/* instructions */
				.reasons #instructions { margin: 5px 15px; }
				.reasons #instructions p { font-weight: normal; margin-bottom: 1.5em; }
				.reasons #instructions span.impact { color: red; }
				.reasons ul { list-style: none; }

				#instructions.close .content,
				#instructions.close a.hidein,
				#instructions a.showin { display: none; }

				#instructions.close a.showin,
				#instructions a.hidein { display: inline; }

			/* saved search */

			#find #savedsearch { position: relative; }
				#find #savedsearch p { margin: 0; }
				#find #savedsearch h4 { font-weight: bold; font-size: 24px; color: #333; margin: 0 0 9px 0; }
				#find #savedsearch h5 { font-weight: bold; font-size: 14px; color: #333; margin: 0 0 3px 0; border-bottom: 1px solid #666; margin: 0 0 4px 0; }
				#find #savedsearch ul { list-style: none; }

				#find #savedsearch .column-master.actionnudge { }
					#find #savedsearch .column-master.actionnudge .left { float: left; width: 400px; }
					#find #savedsearch .column-master.actionnudge .right { float: right; width: 225px; }

				#find #savedsearch #summary-wrap { font-size: 11px; color: #666; }
					#find #savedsearch #summary-display { }
						#find #savedsearch #summary-display strong { color: #333;; }

				#find #savedsearch #query { padding: 10px 0 10px 0; border-bottom: 1px solid #d6d6d6; }
					#find #savedsearch #query h3 { font-weight: normal; font-size: 13px; font-style: italic; color: #58a618; margin: 0 0 3px 10px; }
					#find #savedsearch #query p#currentsearch { padding: 8px 10px; border: 2px solid #b3dfb5; font-size: 11px; color: #666; }

					#find #savedsearch #query #actions { font-size: 11px; text-align: right; }
					#find #savedsearch #query #actions a { padding: 0 0 0 17px; background-position: left center; background-repeat: no-repeat; }
					#find #savedsearch #query #actions a.share { margin: 0 10px 0 0; background-image: url(http://cdn-www.demandstudios.com/ui/images/symbols/v2/link.png?v=faa73ba59b); }
					#find #savedsearch #query #actions a.opensave { background-position: 2px center; background-image: url(http://cdn-www.demandstudios.com/ui/images/symbols/v2/bullet_disk.png?v=faa73ba59b); }					

				#find #savedsearch .savebox { position: relative; padding: 16px 21px; margin: 0 0 10px 0; border-style: solid; border-color: #d0cfcf; border-width: 0 1px 1px 1px; background-color: #fafafa; }
				#find #savedsearch .savebox.hide { display: none; }
					#find #savedsearch .savebox h4 { font-size: 14px; font-weight: bold; color: #333; margin: 0 0 6px 0; }

					#find #savedsearch .decisions { position: absolute; bottom: 5px; right: 5px; }

				#find #savedsearch #save.savebox { }
					#find #savedsearch #save.savebox input#savesearchname { width: 400px; margin: 0 40px 0 0; }

				#find #savedsearch #save.savebox .controls { position: absolute; top: 18px; right: 21px; }
					#find #savedsearch #save.savebox .controls a.cancel { display: block; width: 16px; height: 16px; background: url(http://cdn-www.demandstudios.com/ui/images/findassignments/close.gif?v=faa73ba59b) no-repeat left top; }
					#find #savedsearch #save.savebox .controls a.cancel span { display: none; } 

				#find #savedsearch #mode-master { }
					#find #savedsearch .mode-master .mode { display: none; }

					#find #savedsearch .mode-master.loading .loading.mode,
					#find #savedsearch .mode-master.error .error.mode,
					#find #savedsearch .mode-master.saving .saving.mode { display: block; }

				#find #savedsearch .lister { padding: 16px; background-color: white; border: 1px solid #d0cfcf; }
					#find #savedsearch .lister .nudge { margin: 0 0 2em 0; color: #369; }
					#find #savedsearch .lister .isolate { margin: 1em 0 0 0; }

					#find #savedsearch .lister dt {color: #333; margin: 0 0 3px 0; font-size: 11px; }
					#find #savedsearch .lister dt.impact { font-size: 13px; font-weight: bold; color: #333; margin: 0 0 3px 0; }
					#find #savedsearch .lister dd { font-size: 11px; color: #666; }
					#find #savedsearch .lister dd#longform-display { font-size: 11px; color: #369; margin: 0 0 1.5em 0; }

					#find #savedsearch .lister input#savesearchname { width: 385px; }

					#find #savedsearch .lister p.inputcomp { line-height: 34px; }
		
				#find #savedsearch .decisions p { text-align: right; }

				#find #savedsearch p.errormessage { margin: 0 20px 0 0; padding: 16px; border: 1px solid #b47474; color: red; background-color: #ffe4e4; }
				#find #savedsearch p.dismiss { margin: 10px 10px 0 0; text-align: right; }

				#find #savedsearch .loadingcenters { margin: 0; padding: 16px; border: 1px solid #b47474; color: red; background-color: white; border: 1px solid #d0cfcf; }
					#find #savedsearch .loadingcenters p { text-align: center; }
/*----------------------------*/
.graymiddle { clear: both; background-color: #fff; padding: 10px 0; }
.whitemiddle { clear: both; background-color: #ffffff; padding: 10px 0; }

.workdesk {}
	.workdesk p { margin-top: 0; margin-left: 5px; }
	.workdesk .Heading3 { margin: 0 0 2px 5px; }
	.workdesk .Heading1 { margin: 0 0 0 5px; }
	.workdesk .avatar { margin: 0 12px 0 0; float: left; }
	.workdesk .avatar img { width: 57px; height: 57px; }
	.workdesk #top-master { padding: 0 0 10px 0; }
	.workdesk .showAll { display: none; }
	.workdesk a span { display: none; }

#desktabs { margin: 0 0 5px 0; border-bottom: 1px dotted #119ec3; }
	#desktabs #workdesk-selector { width: 100px; float: right; padding: 14px 0 0 0; }
		#desktabs #workdesk-selector select { width: 100%; } 
	#desktabs ul { list-style: none; padding: 0 7px; width: 775px; float: left; }
	#desktabs li { float: left; margin: 0 4px 0 0; }
	#desktabs li a { display: block; border-width: 1px; border-style: dotted; border-color: #119ec3; border-width: 1px 1px 0 1px; padding: 9px 14px; margin: 6px 0 0 0; background-color: #bcdce5; }
		#desktabs li a:hover, #desktabs a#selected { margin-top: 0; padding-top: 15px; background-color: white; }

.deskblock { margin: 0 0 30px 0; }
	.deskblock table { border: 1px solid #ccc; background-color: white; width: 100%; }
	.deskblock table td { font-size: 11px; vertical-align: middle;}
	.deskblock table td.first a { font-size: 12px; }
	.deskblock table tr.last { border-bottom: 0; }
	.deskblock .Table1 thead tr th.first { padding-left: 10px; }
	.deskblock .Table1 thead tr th.last { background-image: none; }
	.deskblock .Table1 thead th a { color: #333333; text-decoration: underline; }
	.deskblock th a:hover { color: #062758; }
	.deskblock td.punch { color: #990000; }
	.deskblock td.centers { border-right: 1px solid #ccc; }
	.deskblock p { line-height: 1.5em; margin-right: 25px; }
	.deskblock p.actions { margin-right: 0; text-align: right; padding: 5px 10px; font-size: 11px; }
		.deskblock img.revShareIcon {display: block; width: 26px; margin:0px auto;}
	.deskblock table#norecentarticles tbody td { padding: 20px; font-size: 14px; }
	.deskblock .rejectedfooter p.actions { font-size: 12px; }
	.deskblock .rejectedfooter .appealcredits { float: left; }

#statusmaster {}
	#statusmaster #status-left { width: 590px; float: left; }
	#statusmaster #status-right { width: 340px; float: left;  margin-left: 10px; display: inline; }
		#statusmaster #status-right .box3Content p { font-size: 14px; margin: 0; padding: 0 5px 11px 5px; }
		#statusmaster #status-right .box3Content p.topper { padding-top: 10px; margin-bottom: 12px; border-bottom: 1px dotted #ccc; }
	#statusmaster .status .first { }
	#statusmaster .status td.level1 a:link, #statusmaster .status td.level2 a:link , #statusmaster .status td.level1 a:visited, #statusmaster .status td.level2 a:visited { font-weight: bold; font-size: 14px; color: #5981a9; }
	#statusmaster .status td.level2 a:link, #statusmaster .status td.level2 a:visited { color: #cc0000; }
	.status thead th.last { background-image: none; }
	#statusmaster .Heading3 { background-image:url(../images/workdesk-icons.png); background-repeat: no-repeat; padding: 8px 0 9px 47px; margin: 0 0 7px 0; }
		#statusmaster .Heading3 span.subtle { font-weight: normal; }
		#statusmaster #wip { background-position: left top; }
		#statusmaster #questions { background-position: left -39px; }
		#statusmaster #goals { background-position: left -127px; }
		#statusmaster #workcounter { background-position: left -81px; margin: 0; padding-bottom: 16px; }
	#statusmaster .Table1 tbody tr {height:30px; }

/* 3 column layout for status */

#statusmaster.tri {}
	#statusmaster.tri #status-left { width: 32%; float: left; }
	#statusmaster.tri #status-right { width: 32%; float: right; }
	#statusmaster.tri #status-center { width: 32%; float: left; margin-left: 2%; }
	#statusmaster.tri .status .centotal td { background-color: #999; color: white; font-weight: bold; }

.scorecard {}
	.scorecard .Heading3 span { font-weight: normal; }
	.scorecard .Heading3 { padding: 5px 0 10px 40px; margin: 0 0 5px 5px; background-image: url(../images/../images/scorecard_headers.png); background-repeat: no-repeat; }
		.scorecard #rating { background-position: left top; padding-top: 10px; padding-bottom: 5px; }
		.scorecard #keystats { background-position: left -59px; padding-left: 43px; }
	.scorecard .force { height: 130px; }

#stats { background-color: white; border: 1px solid #ccc; }
	#stats .statsinside { padding: 15px 10px; }
	#stats .statsheader { background: #ddd url(../images/boxheader.png) repeat-x top left; height: 35px; line-height: 35px; border-bottom: 1px solid #ccc; color: #333; }
	#stats .mid { border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;}
	#stats .statsheader h4 { width: 140px; margin: 0; float: left; text-align: center; font-weight: bold; font-size: 16px; }
	#stats .mid h4 { float: none; text-align: left; padding: 0 0 0 16px;}
	#stats .Heading2 { color: #666; font-weight: normal; margin: 0 0 7px 0; }
	#stats .statsheader p { font-size: 12px; line-height: 1.3em; padding: 0; margin: 0; line-height: 35px; }
	#stats .statsheader p a { margin: 0 2px 0 2px; padding: 4px; }
	#stats .statsheader p a:hover, #stats .statsheader p a.selected { background-color: white; padding: 3px; border: 1px solid #ccc; color: #666; text-decoration: none; }
	#stats tr.total { font-weight: bold; color: #333; }

.half {}
	.half .clmleft, .half .clmright { background-color: white; border: 1px solid #ccc; width: 440px; }
	.half .clmleft { float: left; }
	.half .clmright { float: right; }
	.half .boxinside { margin: 7px; }
	.half .boxheader { background: #ddd url(../images/boxheader.png) repeat-x top left; height: 45px; line-height: 45px; border-bottom: 1px solid #ccc; color: #333; }
	.half .boxheader h4 { width: 105px; margin: 0 10px 0 0; float: left; text-align: center; font-weight: bold; font-size: 16px; background: url(../images/boxheader_line.png) no-repeat right center; }
	.half .boxheader p { font-size: 12px; line-height: 1.3em; padding: 9px 0 0 0; margin: 0; font-size: 11px; }

.thirds {}
	.thirds .clmleft, .thirds .clmright { background-color: white; border: 1px solid #ccc;}
	.thirds .clmleft { float: left; width: 64%; }
	.thirds .clmleft .statsinside { padding: 15px 10px; }
	.thirds .clmright { float: right; width: 34%; }
	#stats .thirds .statsheader h4 { width: auto; text-align: left; padding: 0 0 0 16px; }

.scoregraphmaster { padding: 0 0 0 5px; }
	.scoregraphmaster .score { width: 85px; float: left; margin: 0 10px 0 0; }
		.score h2 { color: white; font-size: 30px; height: 47px; line-height: 47px; text-align: center; font-weight: bold; }
				.score .poor { background: url(../images/4colorbars.png) repeat-x left -110px; }
				.score .average { background: url(../images/4colorbars.png) repeat-x left -55px; }
				.score .excellent { background: url(../images/4colorbars.png) repeat-x left top; }
		.deskblock .score p { padding: 3px 13px; margin: 0; font-size: 11px; }
	.scoregraphmaster .graph { width: 325px; height: 100px; float: left; background: url(../images/5graph.png) no-repeat left 8px; }

		.graphmaster {}
			.graphmaster .shell { float: left; position: relative; }
			.graphmaster .poser { position: absolute; bottom: 0; left: 25%; }
			.graphmaster .blank div { background: none; } 

			.standard { height: 55px; padding: 16px 0 0 16px; }
				.standard .poser { bottom: 0 !important; bottom: -1px; }
				.standard .shell { width: 28px; height: 55px; }
				.standard .blank { background: none; }
				.standard .bar { width: 12px; font-size: 0px; }
					.standard .poor { background: url(../images/4colorbars.png) repeat-x left -110px; }
					.standard .average { background: url(../images/4colorbars.png) repeat-x left -55px; }
					.standard .excellent { background: url(../images/4colorbars.png) repeat-x left top; }

			.standardnavmaster { padding: 0 8px 0 115px; font-size: 10px; }
				.standardnavmaster .previous { float: left; width: 48%; }
				.standardnavmaster .next { float: right; width: 48%; text-align: right; }

			.thirddimension { background: url(../images/3dbase.png) no-repeat left bottom; padding: 5px 0 9px 0;}
				.thirddimension .shell { height: 100px; width: 60px; }
				.thirddimension .bartop { background: url(../images/3d.gif) no-repeat top left; }
				.thirddimension .poser { left: 10px; }
				.thirddimension .barbottom { background: url(../images/3d.gif) no-repeat bottom right; padding: 8px 8px 0 0; }
				.thirddimension .blank .barbottom { padding: 0; } 
				.thirddimension .bar { background-color: #71a3d8; width: 37px; font-size: 10px; text-align: center; color: black; padding-bottom: 7px; }
					.thirddimension .bar span { display: block; position: absolute; top: -14px; left: 5px; width: 37px; padding: 0; margin: 0;}
					.thirddimension .blank span { top: -14px; }

			.masterofthethirddimension { }
				.masterofthethirddimension .leftarrow { width: 11px; margin: 0 3px 0 0; float: left; height: 114px; }
				.masterofthethirddimension .centergraph { width: 496px; float: left; }
				.masterofthethirddimension .rightarrow { width: 11px; height: 114px; margin: 0 0 0 3px; float: left; }
					a.nav3d { display: block; width: 11px; height: 114px; background-image: url(../images/grapharrows.png); background-repeat: no-repeat; }
						.masterofthethirddimension .leftarrow a.nav3d { background-position: left center; }
						.masterofthethirddimension .leftarrow a.nav3d:hover { background-position: -22px center; background-color: #e6e6e6; }
						.masterofthethirddimension .rightarrow a.nav3d { background-position: -11px center; }
						.masterofthethirddimension .rightarrow a.nav3d:hover { background-position: -33px center; background-color: #e6e6e6; }


			.hort { height: 16px; width: 100px; text-align: left; }
			.hort .bar { background: url(../images/4colorbars.png) repeat-x left -165px; height: 16px; }

		.labels { clear: both; }
				.labels ul { list-style: none; padding: 3px 0 0 16px; }
				.labels li { float: left; display: inline; width: 28px; margin: 0; text-align: center; font-size: 10px; }
		.labels3d {}
				.labels3d ul { list-style: none; padding: 3px 0 0 0; }
				.labels3d li { float: left; display: inline; width: 60px; margin: 0; padding: 0; text-align: center; font-size: 10px; overflow: visible; white-space: nowrap; }
	#piechart { padding: 0 10px; border: 1px solid #ccc; }

	.legend {}
			.legend span { padding: 0 0 0 16px; background-image: url(../images/5dots.gif); background-repeat: no-repeat; }
			#norewrite span { background-position: left 2px; }
			#rewrite span { background-position: left -48px; }
			#abandon span { background-position: left -98px; }
			#flagged span { background-position: left -148px; }
			#rejected span { background-position: left -198px; }

.Table1 .expand  .Form1 label { text-align:left; float: left; width: 200px; }
.Table1 .expand  .Form1 select { text-align:left; float: left; }
.Table1 .expand  .Form1 div { clear:both; float:none;}
.Table1 .expand  .Form1 p { text-align:left;}


/* Box3 - white bg with darker grey border, on light gray background */

.Box3 {}
	.Box3 .box3TL { background-position: left top; height: 8px; padding-left: 7px; font-size: 0; }
	.Box3 .box3TR { background-position: right top; height: 100%; padding-right: 7px; }
	.Box3 .box3Content { border-right: 1px solid #ccc; border-left: 1px solid #ccc; padding: 0 10px; background-color: #fff; }
	.Box3 .box3BL { background-position: left -10px; height: 8px; padding-left: 7px; font-size: 0; }
	.Box3 .box3TL, .Box3 .box3TR, .Box3 .box3BR, .Box3 .box3BL { background-image: url(../images/box03.png); }
	.Box3 .box3BR { background-position: right -10px; height: 100%; padding-right: 5px; }

/* Goals Specific CSS */
	#statusmaster #status-right .box3Content .goals-thermometer { width: 44px; height: 120px; background-image: url(../images/goalbg.png); border: 1px #e8e8e8 solid; }
		#statusmaster #status-right .box3Content .goals-thermometer #goals-thermometer-whitespace { background-color: #fff; height: 99%; }
		
#admin-menu, #admin-menu ul {
z-index:1000;
}


#find #keywordmaster #keywords { width: 500px; font-size: 12px; }

#alertmaster { padding:0px 15px;}
#admin-menu {font-size:14px;}

/*----------*/
#find #keywordmaster #search {
margin:0 0 7px 3px;
}

.v2button .blue {
background-position:left -140px;
}

.v2button .trans, .v2button .trans .text {
background-color:transparent;
background-image:url(../images/v2button-sprite_trans.png);
}

.v2button .trans, .v2button, .v2button .text {
background:url(../images/v2button-sprite.png) no-repeat scroll left top white;
color:#267BB2;
display:inline-block;
font-size:12px;
font-weight:bold;
height:35px;
line-height:34px;
text-decoration:none;
vertical-align:middle;
}
