@charset "UTF-8";
/* CSS Document */

/* Global reset of paddings and margins for all HTML elements */
* { margin:0; padding: 0;}
/* Correction: margin/padding reset caused too small select boxes. */
option { padding-left: 0.4em; } 
select { padding: 1px; }
/* Global fix of the Italics bugs in IE 5.x and IE 6  */
* html body * { overflow:visible; }
* html iframe, * html frame { overflow:auto; }
* html frameset { overflow:hidden; }
html { height: 100%; margin-bottom: 1px; }
/* default for body */
body { font-size:12px; color: #000;font-family:Arial, Verdana, Tahoma, Geneva, sans-serif; background: white; text-align: left; }
/*	default for link */
a { color:#06C; background:transparent; text-decoration:none; }
a:focus, a:hover, a:active { color:#F90; }
/*	Form	*/
form * { vertical-align:middle;}
/* 	Lists	*/
ul li { margin:0; padding:0;}
ul.cls-menu li, ul.menu li { list-style:none;}
/*	Images	*/
img { border: none;}
/* 	Border background	*/
.Frame, .Ft, .Ftl, .Ftr, .Fb, .Fbl, .Fbr, .Fc  { height:1%;}
.Frame { background-repeat:repeat-y;  background-position:center; }
.Frame * { background-position:center; }
.Ft { background-position:top; background-repeat:no-repeat;}
.Fb { background-position:bottom; background-repeat:no-repeat}
.Ftl { background-position:top left; background-repeat:no-repeat;}
.Ftr { background-position:top right; background-repeat:no-repeat;}
.Fbl { background-position:bottom left; background-repeat:no-repeat;}
.Fbr { background-position:bottom right; background-repeat:no-repeat;}
	
/*	Common styles	*/
.f-left { float: left;}
.f-right { float: right;}
.clr { clear: both; background: url('../images/blank.gif') repeat-x; height: 0px;}

/*	Website styles lie beneath	*/
body {}
#site-wrapper { width: 960px; margin: 0 auto; padding: 18px 0 12px 0;}

.cls-dynamic-menu li ul {position: absolute; left: -9999px;}
.cls-dynamic-menu li:hover {position: relative;}
.cls-dynamic-menu li:hover ul {left: 0;}

.cls-header { height: 36px; border-bottom: 1px solid #000;}
	.cls-header .cls-logo { width: 220px; float: left;}
	.cls-header a#logo { display: block; width: 203px; height: 31px; float: left; background: url('../images/fms-logo.png'); text-indent: -9999px;}
	
	.cls-header .cls-main-menu { width: 420px; float: left;}
	.cls-header ul.menu {padding: 12px 0 0 12px;}
	.cls-header ul.menu li{ color: #aaa; text-transform: uppercase; font-weight: bold; font-size: 14px; float: left;}
	.cls-header a { color: #aaa; text-transform: uppercase; font-weight: bold; font-size: 14px; text-align: center;}
	.cls-header a:hover { color: #000;}
	.cls-header ul.menu li.cls-level0 {float: left; width: 120px; height: 31px;}
	.cls-header ul.menu li.cls-level0 a:hover { border-bottom: 2px solid #000; padding-bottom: 6px;}
	.cls-header ul.menu li ul {width: 630px;}
	.cls-header ul.menu li li {float: left; width: 100px; height: 26px; font-size: 11px; padding-top: 18px;}
	.cls-header ul.menu li li a:hover { border-bottom: 0 !important;}
	
	.cls-header .cls-login { float: right;}
	.cls-header .cls-login li {}
	.cls-header .cls-login a {float: left; padding: 12px 8px 0 8px;}
	.cls-header .cls-login a:hover { border-bottom: 2px solid #000;}
	
#top {padding: 6px 0 12px 0;}
	#top #breadcrums {clear: left; float:left;}	
	#top #breadcrums a {padding: 4px 4px 0 0;}	
	#top .cls-addthis {float: right;}
	
	#top h1 {color: #369; font-weight: normal; font-size:24px;}

.cls-body {padding: 6px 0 12px 0; border-bottom: 1px solid #aaa;}	

.cls-footer {margin-top: 16px; text-align: center;}
